body {
  color: black;
}
.container {
  background: red;
  border-radius: 10px;
  height: 70vh;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  width: 45%;
}
.title {
  margin-top: 60px;
  text-align: center;
}
.mission-statement {
  text-align: center;
}
footer {
  margin-top: 10px;
  text-align: center;
}
